@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Medium.eot");
  src: local("☺"), url("./Montserrat-Medium.woff") format("woff"),
    url("./Montserrat-Medium.ttf") format("truetype"),
    url("./Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
